body {
    font-family: sans-serif;
    background-color: darkseagreen;
    margin: 0px;
    padding: 0px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
}

#wrap {
    width: 90%;
    margin: 0 auto;
    border: 9px solid white;
    padding: 10px;
}

header img {
    width: 100%;
}

header {
    background-color: darkseagreen;
    padding: 10px;
    text-align: center;
    background-image: black;
    margin: 0px 0px;
}

nav {
    background-color: yellow;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
    margin: 10px 60px;
    border: 4px white solid;
}

nav li {
    display: inline;
    padding: 20px;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav a {
    color: black;
    text-decoration: underline;
    padding: 10px 30px;
}

nav a:hover {
    color: antiquewhite;
    background-color: skyblue;
}

section {
    padding: 10px;
    background-color: none;
    overflow: auto;
    margin: 10px;
    
}

h1 {
    color: greenyellow;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 300%;
    font-family: fantasy;
}

p {
    text-align: center;
    margin: 10px;
    padding: 0px;
}

.bgpic {
   float: right;
    width: 50%;
}


footer {
    background-color: yellow;
    border: white 2px solid;
    color: black;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-family: fantasy;
}